.btn-container {
    float: right;
  }
  
  @media (max-width: 767px) {
    .btn-container {
      margin-bottom: 15px;
    }
  }

  .eachSkill {
    padding: 5px;
    background: #29626F;
    margin: 5px;
    font-size: 18px;
    font-family: Roboto;
    font-style: normal;
    color: #F0ECE2;
}