#people {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #people td, #people th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #people tr:nth-child(even){background-color: #f2f2f2;}
  
  #people tr:hover {background-color: #ddd;}
  
  #people th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2E7180;
    color: white;
  }

  p {
    display: inline;
  }
  