.navbar {
    margin-bottom: 10px;

}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #2E7180;
  border-radius: 20px;
}

#navbarNavDropdown {
  float: right;
}
