#text {
    color: #F0ECE2;
    width: 513px;
    height: 112px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    
    color: #F0ECE2;
    background: #2E7180;
}

#textDiv {
    position: absolute;
    bottom: 0;
    padding-left: 100px;
}

.whole {
    background: #2E7180;
    height: 400px;
    position: relative;
}


#userImage {
    width: 200px;
}

#imageDiv {
    margin: auto;
    display: flex;
}

#helloText {

}